@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
@import "tailwindcss";



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html, body, #__next {
  height: 100%;
}
@font-face {
  font-family: 'Swansea';
  src: url('/fonts/SWANSE__.woff') format('woff'),
       url('/fonts/SWANSE_B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Apply globally */
html, body {
  font-family: 'Swansea', sans-serif,'Mountains of Christmas', cursive;
}

/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 4px;              /* thin scrollbar */
  height: 4px;             /* thin horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #220000;     /* matches your background */
}

::-webkit-scrollbar-thumb {
  background-color: #440000; /* slightly lighter/darker for contrast */
  border-radius: 4px;
  border: 2px solid #220000; /* creates spacing effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #380000; /* subtle hover effect */
}

/* For Firefox */
* {
  scrollbar-width: thin;              /* makes it thin */
  scrollbar-color: #440000 #220000;   /* thumb color + track color */
}

/* For legacy IE (optional, rarely needed now) */
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}



body {
  @apply bg-[#220000] text-[#ffffff];
  /* background: #4B0600; */
}

/* App.css */
.app {
  height: var(--app-height);
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #220000;
  color: white;
  /* font-size: 2rem; */
}
h1, h2, .holiday-title {
  font-family: 'Mountains of Christmas', cursive;
}


.card-bg {
  background-image: linear-gradient(180deg, #fff1f2 0%, #f8fafc 100%);
}

.transition-class{
  transition: all .45s ease-in-out;
}
button{
  cursor:pointer;
}
