@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900;
}

.card-bg {
  background-image: linear-gradient(180deg, #fff1f2 0%, #f8fafc 100%);
}
